<p>編集実装予定</p>


 <% @users.each do |user| %>
 <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %> 
 <%= user.username %> 
 <%= user.email %>
 <p><%= link_to "アカウント", users_path(user) %></p>
 <% end %>    



<p><%= link_to"プロフィール画面実装予定" %></p>

<b>アカウント</b>

