<h1>予約内容確認</h1>

<p>チェックイン: <%= @reservation.check_in_date %></p>
<p>チェックアウト: <%= @reservation.check_out_date %></p>
<p>日数: <%= @reservation.total_days %>日</p>
<p>人数: <%= @reservation.num_of_guests %></p>
<p>お支払い金額: <%= number_to_currency(@reservation.total_price, unit: '¥', format: '%u%n', precision: 0) %></p>

<%= form_with(model: @reservation, url: confirm_reservation_path(@reservation), method: :patch) do |form| %>
  <%= form.submit  "予約を確定", class: "btn btn-primary" %>
<% end %>
<%= form_tag(cancel_reservation_path(@reservation), method: :delete) do %>
  <%= submit_tag "予約をキャンセル", class: "btn btn-danger", data: { confirm: "本当に予約をキャンセルしますか？" } %>
<% end %> 
