<h1>新規登録</h1>
<%= render "shared/error_messages_custom", obj: @room %>
<table>
 <tbody>
  <%= form_with(model: @room, url: rooms_path, method: :post) do |f| %>
   <tr>
    <th><%= f.label :施設名 %></th>
    <td><%= f.text_field :name %></td>
   </tr>

   <tr>
    <th><%= f.label :施設詳細 %></th>
    <td><%= f.text_area :description %></td>
   </tr>

  <tr>
   <th><%= f.label :料金 %></th>
   <td><%= f.text_field :price %></td>
  </tr>

  <tr>
   <th><%= f.label :住所 %></th>
   <td><%= f.text_field :address %></td>
  </tr>

  <tr>  
   <th><%= f.label :施設画像 %></th>
   <td><%= f.file_field :room_image %></td>
  </tr>
 </tbody>
</table>

  <%= f.submit '保存' %>
 <% end %>

 <%= render 'layouts/footer' %>