<% if @rooms.nil? || @rooms.empty? %>
  <p>0件が見つかりました。</p>
<% else %>
  <p><%= @rooms.count %>件が見つかりました。</p>
<% end %>

<% @rooms.each do |room| %>
    <h2><%= attachment_image_tag room, :room_image, fallback: "default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png"  %></h2>
    <p><%= room.name %></p>
    <p><%= room.address %></p>
    <p><%= room.description %></p>
    <p><%= room.price %></p>
    <p><%= link_to "詳細へ", room_path(room) %></p>
  <% end %>

  