<% if user_signed_in?  %>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "avater" %>
  <%= current_user.username %>
</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><%= link_to "施設の新規登録" %></li>
      <li><%= link_to "予約済み一覧" %></li>
      <li><%= link_to "登録済み一覧" %></li>
      <li><%= link_to "アカウント設定", user_path(current_user) %></li>
      <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
    </ul>
  </li>
<% else %>
  <%= link_to "ログイン", new_user_session_path, class: "button" %>
  <%= link_to "新規登録", new_user_registration_path, class: "button button-registration" %>
 <% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
